GEMINI_API_KEY="your-gemini-api-key-here"
HF_ACCESS_TOKEN=hf_token

# DATABASE (use host.docker.internal to reach the host from within the container)
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
#POSTGRES_HOST=postgres
POSTGRES_HOST=host.docker.internal
POSTGRES_PORT=5432

DB_SCHEMA=sft_dataforge

# LANGFUSE (if Langfuse runs on the host, use host.docker.internal)
LANGFUSE_SECRET_KEY="sk-lf-your-secret-key-here"
LANGFUSE_PUBLIC_KEY="pk-lf-your-public-key-here"
LANGFUSE_STRING_CONNECTION=http://host.docker.internal:3000

# PROJECT ROOT
PROJECT_PATH=/app

# MOUNT POINT (prepended before saving to DB)
BASE_PREFIX=file://

# Docker volume mount
BASE_PATH=/app/nfs
# Bound physical disk
BINDED_BASE_PATH=/Users/T.Finizzi/repo/SFT-data-Forge/nfs

# LAYER 1 - RAW DATA (container ref)
RAW_DATA_DIR=/app/nfs/data-download
# LAYER 1 - RAW DATA (physical disk)
BINDED_RAW_DATA_DIR=/Users/T.Finizzi/repo/SFT-data-Forge/nfs/data-download

# LAYER 2 - PROCESSED DATA (container ref)
PROCESSED_DATA_DIR=/app/nfs/processed-data
# LAYER 2 - PROCESSED DATA (physical disk)
BINDED_PROCESSED_DATA_DIR=/Users/T.Finizzi/repo/SFT-data-Forge/nfs/processed-data

# LAYER 3 - MAPPED DATA (container ref)
MAPPED_DATA_DIR=/app/nfs/mapped-data
# LAYER 3 - MAPPED DATA (physical disk)
BINDED_MAPPED_DATA_DIR=/Users/T.Finizzi/repo/SFT-data-Forge/nfs/mapped-data

# STATS DATA PATHS
STATS_DATA_DIR=/app/nfs/stats-data
BINDED_STATS_DATA_DIR=/Users/T.Finizzi/repo/SFT-data-Forge/nfs/stats-data

LOW_LEVEL_STATS_EXTENSION=/low_level_stats
CHAT_TEMPLATE_STATS_EXTENSION=/chat_template_stats

# Stopwords config path (inside container)
STOPWORD_PATH=/app/config/lang_stopwords.json
