GEMINI_API_KEY="your-gemini-api-key-here"
HF_ACCESS_TOKEN="hf_your-huggingface-token-here"

POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432

DB_SCHEMA=sft_dataforge

LANGFUSE_SECRET_KEY="sk-lf-your-secret-key-here"
LANGFUSE_PUBLIC_KEY="pk-lf-your-public-key-here"
LANGFUSE_STRING_CONNECTION="http://localhost:3000"

# PROJECT ROOT (absolute path to the project directory)
PROJECT_PATH=.

# MOUNT POINT
BASE_PREFIX="file:///"  # nfs://
BASE_PATH=./nfs          # /nfs

# MAIN DATA PATHS

# LAYER 1 - RAW DATA
RAW_DATA_DIR=./nfs/data-download          # nfs/data-download

# LAYER 2 - PROCESSED DATA
PROCESSED_DATA_DIR=./nfs/processed-data   # nfs/processed-data

# LAYER 3 - MAPPED DATA
MAPPED_DATA_DIR=./nfs/mapped-data         # nfs/mapped-data

# STATS DATA PATHS
STATS_DATA_DIR=./nfs/stats-data           # nfs/stats-data

LOW_LEVEL_STATS_EXTENSION=/low_level_stats
CHAT_TEMPLATE_STATS_EXTENSION=/chat_template_stats